<div class="fixed w-screen h-screen z-50 pointer-events-none">
    <div class="w-full text-end text-textA z-50">{{gamestatus.fps}} FPS</div>
</div>
<div class="flex flex-col h-full">
    <div class="h-14 from-transparent to-shadow bg-gradient-to-b"></div>
    <div class="h-fit overflow-hidden select-none rounded bg-shadow">
        <canvas id="canvas" class="fixed min-w-[320px] w-full rounded cursor-crosshair z-10" [width]="480"
            [height]="320"></canvas>
        <canvas id="canvasBG" class="min-w-[320px] w-full border border-subtle bg-bgD rounded pointer-events-none"
            [width]="480" [height]="320"></canvas>
    </div>
    <div class="flex gap-4 justify-between grow p-8 from-transparent to-shadow bg-gradient-to-t">
        <div class="flex gap-1 h-14">
            <button link class="self-end">◄</button>
            <div class="flex flex-col gap-4">
                <button link class="self-start">▲</button>
                <button link class="self-end">▼</button>
            </div>
            <button link class="self-end">►</button>
        </div>
        <div class="flex gap-4 h-14">
            <button link class="self-end" (pointerdown)="onActionA(true)" (pointerenter)="onActionA(true)"
                (pointerup)="onActionA(false)" (pointerleave)="onActionA(false)">A</button>
            <button link class="self-start">B</button>
        </div>
    </div>
</div>