<div class="w-screen h-screen elite_v_scrollbar flex flex-col gap-2 pl-24">
    <div class="w-full text-center text-5xl font-extralight leading-10 text-primary">Extends Class Editor</div>
    <div class="flex gap-4 pb-8">

        <div class="flex flex-col gap-1">
            <button standard icon="featherFilePlus" [disabled]="disableAllButton" (click)="onCreateNewFile()">Create new
                File</button>
            <button standard icon="featherDownloadCloud" [disabled]="disableAllButton"
                (click)="onFetchDatabase()">Fetch</button>
            <button standard icon="featherUploadCloud" [disabled]="disableAllButton"
                (click)="onUpload()">Upload</button>
            <global-input-standard [(ngModel)]="securityKey" placeholderText="Security Key" icon="featherKey"
                iconColor="subtle" iconStroke="1.25" [maxLength]="16"></global-input-standard>
            <input type="range" min="0" max="10000" [value]="apiCounter" step="1"
                class="accent-bgB pointer-events-none">
            <div class="text-xs font-semibold text-subtle">{{apiCounter}}/10000</div>
        </div>
        <div class="flex flex-col gap-1 p-2 border-2 border-bgB bg-textB rounded-md">
            <div class="flex gap-4 justify-center">Cloud
                <global-icon icon="featherCloud"></global-icon>
            </div>
            <hr class="text-bgB">
            <ng-container *ngFor="let entry of onlineECFList">
                <div class="flex" [ngClass]="entry.id === actualFileID ? 'text-primary':''"
                    (click)="onLoadFile(entry.id)">
                    {{entry.category}} - {{entry.name}} Uploaded: {{entry.uploaded | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </ng-container>
        </div>
        <div class="flex flex-col gap-1 p-2 border-2 border-bgB bg-textB rounded-md">
            <div class="flex gap-4 justify-center">Local
                <global-icon icon="featherHardDrive"></global-icon>
            </div>

            <hr class="text-bgB">
            <ng-container *ngFor="let entry of localECFList">
                <div class="flex" [ngClass]="entry.id === actualFileID ? 'text-primary':''"
                    (click)="onLoadFile(entry.id)">
                    {{entry.category}} - {{entry.name}} Created: {{entry.created | date:'dd.MM.yyyy HH:mm'}} Edited:
                    {{entry.edited | date:'dd.MM.yyyy HH:mm'}}
                </div>
            </ng-container>
        </div>
        <global-list [data]="fileIDlist" [deleteButton]="true" [disabledDeleteButtons]="disableAllButton"
            [selected]="actualFileID" width="25vw" (optionSelect)="onLoadFile($event)"
            (deleteOption)="onDeleteFile($event)">All Files</global-list>


        <!-- <div class="flex flex-col gap-1">
            <button standard icon="featherFilePlus" [disabled]="disableAllButton" (click)="onNewFile()">Create new
                File</button>
            
            <global-input-checkbox>Private</global-input-checkbox>
            <button standard icon="featherRefreshCw" [disabled]="disableAllButton">Update File</button>
        </div> -->
    </div>
    <div class="flex gap-4">
        <global-input-standard [(ngModel)]="actualFileData.category" [disabled]="this.actualFileID === ''"
            placeholderText="Category" icon="featherArchive" iconColor="subtle" iconStroke="1.25"
            [maxLength]="32"></global-input-standard>
        <global-input-standard [(ngModel)]="actualFileData.name" [disabled]="this.actualFileID === ''"
            placeholderText="Name" icon="featherTag" iconColor="subtle" iconStroke="1.25"
            [maxLength]="32"></global-input-standard>
    </div>
    <!-- <global-table [tableData]="data" (loadCell)="onLoadFile($event)"></global-table> -->
    <!-- <button standard icon="featherDelete" (click)="onDeleteFile()">Delete</button> -->
    <textarea cols="30" rows="10" [(ngModel)]="actualFileData.text"
        [disabled]="this.actualFileID.length < differentiator" spellcheck="false"
        class="bg-textB outline-none border-bgB border-2 rounded-md w-[90vw] elite_v_scrollbar"></textarea>
    <div *ngIf="actualFileData.created > 0">created: {{actualFileData.created | date:'dd.MM.yyyy HH:mm'}}</div>
    <div *ngIf="actualFileData.edited > 0">last edit: {{actualFileData.edited | date:'dd.MM.yyyy HH:mm'}}</div>
    <div>{{actualFileData.data|json}}</div>
</div>

<global-popup *ngIf="showSavePopupBeforeNav" myTitle="Question" [backCovered]="true" [closeable]="false"
    icon="featherHelpCircle" [minimizeable]="false" [resizeable]="false">
    <div>Save Changes for local file "{{this.actualFileData.name}}"?</div>
    <div class="flex gap-4">
        <button standard (click)="ChangeRoute(false)">
            Don't save changes
        </button>
        <button standard [autofocus]="true" (click)="ChangeRoute(true)">
            Save file
        </button>
    </div>
</global-popup>

<global-popup *ngIf="showSavePopup" myTitle="Question" [backCovered]="true" [closeable]="false" icon="featherHelpCircle"
    [minimizeable]="false" [resizeable]="false">
    <div>Save Changes for local file "{{this.actualFileData.name}}"?</div>
    <div class="flex gap-4">
        <button standard (click)="showSavePopup = false">
            Don't save changes
        </button>
        <button standard [autofocus]="true" (click)="doAutoSave()">
            Save file
        </button>
    </div>
</global-popup>