<div class="w-screen h-screen elite_v_scrollbar flex flex-col gap-1 p-2 pl-16 bg-bgA animate-fadeIn">

    <div class="flex gap-1 h-full">

        <div class="flex flex-col gap-1 w-72">

            <div class="w-full text-center text-5xl font-extralight leading-10 text-primary">EC File Manager</div>

            <div class="grid grid-cols-2 items-center justify-between gap-1">
                <button standard autofocus *ngIf="apiKey === '';else loggedIn" (click)="this.showLogin = true"
                    icon="featherLogIn" iconColor="textB"
                    globalTooltip="If you are logged in, you can create your own files." ttPosition="right"
                    ttIcon="featherInfo" ttIconColor="warning"
                    [disabled]="disableAllButton || this.apiCounter >= 10000">Login</button>
                <ng-template #loggedIn>
                    <button standard iconColor="textB" (click)="onLogout()" icon="featherLogOut"
                        [disabled]="disableAllButton">Logout</button>
                </ng-template>
                <button standard iconColor="textB" icon="featherDownloadCloud"
                    [disabled]="disableAllButton || this.apiCounter >= 10000 || apiKey === ''" (click)="fetch()"
                    globalTooltip="Updates the list of all public files." ttPosition="right" ttIcon="featherInfo"
                    ttIconColor="warning">Fetch</button>
                <button standard iconColor="textB" icon="featherAlertOctagon" [disabled]="disableAllButton"
                    (click)="showBlacklist = true"
                    globalTooltip="Determine which files you do not want to be displayed." ttPosition="right"
                    ttIcon="featherInfo" ttIconColor="warning">Blacklist</button>
                <button standard iconColor="textB" icon="featherUploadCloud"
                    globalTooltip="A new file with the current text will be created." ttPosition="right"
                    ttIcon="featherInfo" ttIconColor="warning"
                    [disabled]="disableAllButton || this.apiCounter > 9000 || apiKey === ''" (click)="onCreateFile()">
                    Create
                </button>
                <button standard iconColor="textB" icon="featherRefreshCw"
                    [disabled]="disableAllButton || this.apiCounter > 9000 || actualFileID === ''"
                    (click)="onUpdateFile()" globalTooltip="The actual file will be updated." ttPosition="right"
                    ttIcon="featherInfo" ttIconColor="warning">Update</button>
                <button standard icon="featherTrello" iconColor="textB" [disabled]="!validJSON" (click)="formatJSON()"
                    globalTooltip="Is active if the text has a valid JSON format and formats it when clicked."
                    ttPosition="right" ttIcon="featherInfo" ttIconColor="warning">Format</button>
                <global-input-checkbox iconColor="textB" [icon]="isPrivate? 'featherEyeOff':'featherEye'"
                    iconStroke="1.5" [disabled]="disableAllButton || securityKey.length === 0" [(ngModel)]="isPrivate"
                    globalTooltip="If Private is active, the file can be opened only with security key."
                    ttPosition="right" ttIcon="featherInfo" ttIconColor="warning">
                    Private</global-input-checkbox>
                <global-input-checkbox iconColor="textB" [icon]="isLocked? 'featherLock':'featherUnlock'"
                    iconStroke="1.5" [disabled]="disableAllButton || securityKey.length === 0" [(ngModel)]="isLocked"
                    globalTooltip="When 'Locked' is active, only you can modify or delete the file. But others can read it."
                    ttPosition="right" ttIcon="featherInfo" ttIconColor="warning">
                    Locked</global-input-checkbox>
            </div>

            <global-list [data]="fileList" [deleteButton]="true"
                [disabledDeleteButtons]="disableAllButton || this.apiCounter > 9500" [selected]="actualFileID"
                width="100%" height="100%" (optionSelect)="onLoadFile($event)" (deleteOption)="onDeleteFile($event)"
                globalTooltip="Shows all files that are not in the blacklist. Click on them to load them. With the x symbol you can delete the file."
                ttPosition="right" ttIcon="featherInfo" ttIconColor="warning">file
                list</global-list>
            <div class="text-xs font-semibold text-subtle leading-4"
                globalTooltip="The monthly remaining request is displayed here. From 9000 requests you can only read files! "
                ttPosition="top" ttIcon="featherInfo" ttIconColor="warning">{{apiCounter}} of 10000 requests/month
            </div>
            <div class="rounded-full h-2" [ngStyle]="{ width: (apiCounter/125)+'%' }"
                [ngClass]="apiCounter > 9000 ? 'bg-warning':'bg-primary'" [class.bg-danger]="apiCounter >= 10000"></div>
        </div>

        <div class="grow text-tertiary from-bgC to-bgD bg-gradient-to-t border-bgB border-2 rounded-md elite_v_scrollbar"
            globalTooltip="This is the text window for the files." ttPosition="left" ttIcon="featherInfo"
            ttIconColor="warning">
            <pre #inputField *ngIf="!refreshInputField" [contentEditable]="true" [spellcheck]="false"
                (input)="onNewFileText($event)" class="h-full w-full outline-none">
            {{fileData|json}}
            </pre>
        </div>

    </div>
</div>

<global-info-popup icon="featherInfo" infoPosition="top" infoAlign="center" [infoOffset]="64"
    [(infoText)]="errorMessage"></global-info-popup>

<global-popup *ngIf="showLogin" (whenClosing)="showLogin = false;" [minimizeable]="false" icon="featherEdit"
    myTitle="Welcome, please login!" popupWidth="22rem">
    <div class="grow"></div>
    <div class="flex flex-col gap-1">
        <global-input-standard icon="featherUser" [(inputText)]="username" [maxLength]="32" placeholderText="Username"
            [spellcheck]="false"></global-input-standard>
        <global-input-standard icon="featherKey" [(inputText)]="password" inputType="password" [maxLength]="32"
            placeholderText="Password" [spellcheck]="false" [autofocus]="true"
            (inputTextOutput)="onLogin()"></global-input-standard>
        <div class="self-end">
            <button standard (click)="onLogin()" [disabled]="username.length < 2 || password.length < 2">Login</button>
        </div>
    </div>
    <div class="grow"></div>
</global-popup>

<global-popup *ngIf="showBlacklist" (whenClosing)="showBlacklist = false;" [resizeable]="true" [backCovered]="false"
    [minimizeable]="true" icon="featherAlertOctagon" iconColor="danger" myTitle="Blacklist">
    <global-list [data]="localBlacklist" [deleteButton]="true" (deleteOption)="onRemoveFromBL($event)"
        height="100%"></global-list>
    <div class="flex justify-between gap-1">
        <global-input-standard [autofocus]="true" inputType="search" [maxLength]="16"
            [(inputText)]="blacklistInputField"></global-input-standard>
        <div></div>
        <div>
            <button standard [disabled]="blacklistInputField.length !== 12" icon="featherPlusCircle"
                (click)="onAddBLFile()">Add</button>
        </div>
    </div>
</global-popup>

<global-loading-spinner [showInstantly]="false" *ngIf="disableAllButton"></global-loading-spinner>