<div class="w-screen h-screen elite_v_scrollbar flex flex-col gap-1 p-2 pl-16 bg-bgA">

    <div class="flex gap-1 h-full">

        <div class="flex flex-col gap-1 w-[25vw] min-w-[17rem]">
            <div class="w-full text-center text-5xl font-extralight leading-10 text-primary">EC File Manager</div>
            <div class="flex items-center justify-end gap-2"
                [ngClass]="validJSON ? 'text-primary':'text-subtle line-through'">
                <div class="text-end text-sm">valid JSON</div>
                <div>
                    <button standard icon="featherTrello" [disabled]="!validJSON" (click)="formatJSON()"></button>
                </div>
            </div>
            <div class="flex flex-wrap gap-1">
                <button standard icon="featherDownloadCloud"
                    [disabled]="disableAllButton || this.apiCounter >= 10000 || apiKey === ''"
                    (click)="onLoadAllFiles()">fetch</button>
                <button standard icon="featherUploadCloud" [disabled]="disableAllButton || this.apiCounter > 9000"
                    (click)="onCreateFile()">
                    create
                </button>
                <button standard icon="featherRefreshCw" [disabled]="disableAllButton || this.apiCounter > 9000"
                    (click)="onUpdateFile()">update</button>
            </div>
            <div class="flex gap-1 justify-between">
                <global-input-checkbox icon="featherEyeOff" iconStroke="1.5"
                    [disabled]="disableAllButton || securityKey.length === 0" [(ngModel)]="isPrivate">
                    private</global-input-checkbox>
                <global-input-standard [(ngModel)]="securityKey" placeholderText="security key" icon="featherKey"
                    iconColor="subtle" iconStroke="1.25" [maxLength]="16"
                    [disabled]="disableAllButton"></global-input-standard>
            </div>
            <global-list [data]="fileList" [deleteButton]="true"
                [disabledDeleteButtons]="disableAllButton || this.apiCounter > 9500" [selected]="actualFileID"
                width="100%" height="100%" (optionSelect)="onLoadFile($event)"
                (deleteOption)="onDeleteFile($event)">file list</global-list>
            <div class="flex gap-2">
                <div class="text-xs font-semibold text-subtle leading-4 w-1/2">{{apiCounter}} of 10000 requests/month
                </div>
                <input type="range" min="0" max="10000" [value]="apiCounter" step="1" class="pointer-events-none w-1/2"
                    [ngClass]="apiCounter > 9000 ? 'accent-warning':'accent-primary'"
                    [class.accent-danger]="apiCounter >= 10000">
            </div>
        </div>

        <div class="grow text-tertiary bg-textB border-bgB border-2 rounded-md elite_v_scrollbar">
            <pre #inputField *ngIf="!refreshInputField" [contentEditable]="true" [spellcheck]="false"
                (input)="onNewFileText($event)" class="h-full w-full outline-none">
            {{fileData|json}}
            </pre>
        </div>

    </div>
    <!-- <button standard icon="featherDelete" (click)="onDeleteFile()">Delete</button> -->
</div>
<global-info-popup icon="featherInfo" infoPosition="top" infoAlign="center" [infoOffset]="64"
    [(infoText)]="errorMessage"></global-info-popup>
<!-- TODO Loading Component  -->