<div class="w-screen h-screen elite_v_scrollbar flex flex-wrap justify-center items-center">
    <button link icon="featherFile" [disabled]="disableAllButton" (click)="onLoadAllFiles()"></button>
    <button link icon="featherFilePlus" [disabled]="disableAllButton" (click)="onNewFile()"></button>
    <button link icon="featherSave" [disabled]="disableAllButton" (click)="onSaveFile()"></button>

    <global-input-standard [(ngModel)]="securityKey"></global-input-standard>
    <global-table [tableData]="data" (loadCell)="onLoadFile($event)"></global-table>
    <button link icon="featherDelete" (click)="onDeleteFile()"></button>
    <textarea cols="30" rows="10" [(ngModel)]="filetext" spellcheck="false"
        class="bg-textB outline-none border-subtle border w-[80vw]"></textarea>
</div>