<canvas id="canvas" class="bg-textB cursor-crosshair select-none" [width]="screenService.windowWidth$|async"
    [height]="screenService.windowHeight$|async" (dblclick)="showSettings = true"></canvas>

<global-popup *ngIf="showSettings" icon="featherSettings" iconColor="primary" anchor="screen" position="top-right"
    globalTooltip="Shortcut: 'S'" [offset]="0" [backCovered]="false" [closeable]="true" [minimizeable]="true"
    (whenClosing)="showSettings = false">
    <div class="flex flex-col gap-1 items-end text-lg">
        isPressing: {{isPressing}}
        <div>{{fps}} FPS</div>
        <button standard [disabled]="autoFps" (click)="onstartAutoCalc()">Auto FPS</button>
        <button list icon="featherAirplay" iconColor="tertiary" globalTooltip="Shortcut: 'F11'"
            (click)="setToFullscreen()">{{showSettings?'Fullscreen':''}}
        </button>
        <global-list [data]="styles" [selected]="this.style" (optionSelect)="this.style = $event"
            height="10rem">Style</global-list>
        {{minSpeed}} min Speed:
        <input type="range" min="0" max="2" step="0.1" [(ngModel)]="minSpeed" class="accent-bgB">
        {{connectDist}} Connection:
        <input type="range" min="30" max="400" step="1" [(ngModel)]="connectDist" class="accent-bgB">
        {{dotCount}} Dots:
        <input [disabled]="fps<30" type="range" min="2" max="2500" step="1" [(ngModel)]="dotCount"
            (ngModelChange)="onReload()" class="accent-bgB">
        {{power}} Power:
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="power" class="accent-bgB">
        {{range}} Range:
        <input type="range" min="50" max="400" step="1" [(ngModel)]="range" class="accent-bgB">
        {{damping}} Damping:
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="damping" class="accent-bgB">
        {{lineWidth}} Line Width:
        <input type="range" min="0.5" max="16" step="0.5" [(ngModel)]="lineWidth" class="accent-bgB">
        <div>
            <button standard (click)="onTogglePlaying()" globalTooltip="Shortcut: 'Space'"
                icon="{{(processing|async)?'featherPauseCircle':'featherPlayCircle'}}"
                iconColor="textB">{{(processing|async)?'Pause':'Play'}}</button>
        </div>

    </div>
</global-popup>