<div #layerContainer class="w-screen h-screen elite_v_scrollbar p-2 pl-16 bg-bgD animate-fadeIn">
    <div class="flex items-center gap-1 pb-2">
        <div>
            <button list icon="featherFilePlus" (click)="onNewLayer()"></button>
        </div>
        <div>
            <button list icon="featherPenTool"></button>
        </div>
        <div>
            <input type="color" [(ngModel)]="lineColor" class="bg-bgD">
        </div>
        <div>
            <input type="range" min="1" max="100" step="1" [(ngModel)]="lineWidth" class="accent-bgB">
        </div>
    </div>
</div>

<global-popup myTitle="Layers" [closeable]="false" [resizeable]="true" [backCovered]="false" appearX="100%"
    popupWidth="1%" popupHeight="100%" icon="featherLayers">
    <global-list [data]="layerlist" [deleteButton]="true" (optionSelect)="onLayerSelect($event)"
        (deleteOption)="onDeleteLayer($event)" [selected]="actualID" class="grow">

    </global-list>
</global-popup>