<div #layerContainer class="w-screen h-screen  bg-bgD"></div>

<global-popup myTitle="Menü" [closeable]="false" [resizeable]="true" [backCovered]="false" anchor="screen"
    position="{{isMobile?'bottom':'right'}}" [offset]="0" popupWidth="{{isMobile?'100%':'15%'}}"
    popupHeight="{{isMobile?'330px':'100%'}}" icon="featherLayers">
    <div class="flex flex-col">

        <div class="flex flex-wrap gap-2">
            <div>
                <button list icon="featherSave" (click)="onSaveImage()"></button>
            </div>
            <div>
                <button list icon="featherFilePlus" (click)="onNewLayer()"></button>
            </div>
            <div>
                <button list icon="featherPenTool"></button>
            </div>
            <div>
                <input type="color" [(ngModel)]="lineColor" class="bg-bgB">
            </div>
            <global-icon icon="matFormatSize"></global-icon>

            <input type="range" min="1" max="9" step="1" [(ngModel)]="lineWidth" class="accent-secondary">

        </div>
        <global-list [data]="layerlist" [notAvailableText]="notAvailableText" [deleteButton]="true"
            (optionSelect)="onLayerSelect($event)" (deleteOption)="onDeleteLayer($event)" [selected]="actualID"
            class="grow">

        </global-list>
    </div>
</global-popup>