<div class="flex flex-col gap-2 items-start w-full h-full p-1">

    <div class="w-full h-32 overflow-y-auto">
        <div *ngFor="let chapter of book; let i = index">
            <div class="flex mb-1">
                <button (click)="onSelectChapter(i)"
                    class="hover:text-primary bg-bgA border rounded-md px-2">{{chapter.titel}}</button>
                <button (click)="onDeleteChapter(i)"
                    class="hover:text-primary bg-bgA border rounded-md px-2 ml-2">-</button>
            </div>
        </div>
        <button *ngIf="selectedFileNumber >= 0" (click)="onNewChapter()"
            class="hover:text-primary bg-bgA border rounded-md px-2">+ Neue Seite</button>
    </div>

    <input type="text" [(ngModel)]="titel" class="select-text w-full bg-bgB" placeholder="Titel...">
    <textarea [(ngModel)]="text" spellcheck="false" placeholder="Text..."
        class="select-all w-full bg-bgB h-full min-h-[8rem]">{{text}}</textarea>

    <div class="flex flex-wrap gap-2 border rounded-md bg-selection p-2 h-24 w-full overflow-y-auto">
        <div *ngFor="let file of globals.textEditorUrls; let i = index">
            <button (click)="onSelectFile(i)"
                class="hover:text-primary bg-bgA border rounded-md px-2">{{file.name}}</button>
        </div>
    </div>

    <div class="flex justify-around w-full p-2 bg-selection text-secondary">
        <button (click)="onNewFile()" class="hover:text-primary bg-bgA border rounded-md px-2">Neu</button>
        <button (click)="onUpdateFile()" class="hover:text-primary bg-bgA border rounded-md px-2">Update</button>
        <button (click)="onDeleteFile()" class="hover:text-primary bg-bgA border rounded-md px-2">Löschen</button>
    </div>
</div>